/C:\Users\nacho\OneDrive\Escritorio\desarrollo web\conde 3ra entrega\package-lock.json/
/C:\Users\nacho\OneDrive\Escritorio\desarrollo web\conde 3ra entrega\package-lock.json/
/C:\Users\nacho\OneDrive\Escritorio\desarrollo web\conde 3ra entrega\package.json/
/C:\Users\nacho\OneDrive\Escritorio\desarrollo web\conde 3ra entrega\styles/
/C:\Users\nacho\OneDrive\Escritorio\desarrollo web\conde 3ra entrega\scss/
/C:\Users\nacho\OneDrive\Escritorio\desarrollo web\conde 3ra entrega\node_modules/
/C:\Users\nacho\OneDrive\Escritorio\desarrollo web\conde 3ra entrega\js/
